::selection,
::-moz-selection {
  background-color: #fff; // ?
  color: $white;
}

a,
a:hover,{
  text-decoration: none;
}

input:active,
input:focus,
textarea,
select,
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.white,
.white p {
  color: $white;
}

.black,
.black p {
  color: $pure-black;
}

.fullheight {
  height: 100vh;
}

.fullwidth {
  width: 100%;
}

/* Position elements */

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top{
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.z-hight {
  z-index: 999;
}

.z-low {
  z-index: -999;
}

/* content loader */


.cd-cover-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
}

.cd-about .cd-cover-layer {
  background-color: $bg-cover-layer;
}

.page-is-changing, .cd-cover-layer {
  opacity: 1;
  z-index: 99;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-loading-bar {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 90%;
  background-color: $white;
  visibility: hidden;
  transition: visiblity 0s 0.4s, transform 0.4s 0s ease-in;
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: translate(-50%, -50%);
}

.cd-about .cd-loading-bar {
  background-color: $bg-cover-layer;
}

.cd-about .cd-loading-bar::before {
  background-color: $before-loading-bar;
}

.cd-loading-bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-cover-layer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: scaleX(0);
  transform-origin: left center;
}

.page-is-changing .cd-loading-bar {
  visibility: visible;
  transform: translate(-50%, -50%) scaleX(0.3);
  transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}

.page-is-changing .cd-loading-bar::before {
  transform: scaleX(1);
  transition: transform 0.8s 0.8s ease-in;
}
