@mixin cover () {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin fullheight() {
  height: 100vh;
}

@mixin fullwidth() {
  width: 100%;
}

@mixin valign() {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
}

@mixin background($size, $repeat, $positionX, $positionY:"", $image:"", $format:"", $attachement:"") {
  background-size: unquote($size);
  background-repeat: $repeat;
  background-position: $positionX unquote($positionY);
  background-image: url('../img/'+unquote($image)+'.'+unquote($format));
  background-attachment: unquote($attachement);
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  }
}
