@mixin font-body-text ($font: $font-body-text, $weight : 400, $style: normal, $line-height : 24 / 14){ /*** text conditions form ***/
  font:{
    family: $font;
      style: $style;
    size: 14px;
    size: 1.4rem;
    weight: $weight;
  }
    line-height: $line-height;
}

//@include font-style-1 ($font-bold,400,normal,1.428); /*** text step form ***/

@mixin font-title ($font: $font-title, $weight : 400, $style: normal, $line-height : 27 / 17){ /*** button form footer + profession ***/
  font:{
    family: $font;
      style: $style;
    size: 15px;
    size: 1.5rem;
    weight: $weight;
  }
    line-height: $line-height;
  @include mq($from:mobile){
    font-size: 17px;
    font-size: 1.7rem;
  }
}

@mixin font-style-loader ($font: $font-loader, $weight : 400, $style: normal, $line-height : 0.83){ /*** loader ***/
  font:{
    family: $font;
      style: $style;
    size: 12px;
    size: 1.2rem;
    weight: $weight;
  }
    line-height: $line-height;
}
