//Place @import google fonts here





/* ============ FONTS =========== */

$font-loader: 'Arial', sans-serif;
$font-title: 'Raleway', sans-serif;
$font-body-text: 'Times', sans-serif;

/* ============ COLORS =========== */

$white: #fff;
$pure-black: #000;
$pixies-black: #201f20;
$bg-cover-layer: #283040;
$before-loading-bar: #4089a6;

/* ======= SIZES AND LAYOUT ====== */


$container: 1170px; // Set container max-width
$container-fluid: 1440px; // Set container-fluid max-width
