#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $pixies-black;
  z-index: 9999;
  &:hover:after {
    @include background(cover, no-repeat, center, center, logo-loader, png);
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  #chargement-infos {
    text-align: center;
    color: $white;
    @include font-style-loader;
  }

  #chargement-bar  {
    position: fixed;
    height: 5px;
    width: 0;
    top: 0;
    left: 0;
    background-color: $white;
  }
}
